/* This will be the global CSS that is included on every page - it isn't in production yet */

.strat-hide-img {
  display: none;
}

.strat-show-img {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.strat-hover-img-position {
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .strat-hover-img-position {
    width: 90%;
    height: 90%;
  }
}

/* this is the custom style for a currently displayed img */

/*

left: ${rect.right + 100}px; 
top: ${rect.top + 50}px;
background: url(${d.src});

width: ${d.width}px;
height: ${d.height}px;

*/
